* {
  box-sizing: border-box;
}

@font-face {
  font-family: Lato;
  src: url(./assets/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Alata;
  src: url(./assets/fonts/Alata-Regular.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

body {
  font-size: 20px;
  background-color: #333;
  overflow-x: hidden;
  font-family: Lato;
  color:ghostwhite;
}

header {
  display: flex;
  flex-wrap: wrap;
  background: lightcoral;
  color: #333;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  font-family: Alata;
}

header h1 {
  font-size: 3em;
}

main .container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  max-width: 1000px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.container .lead {
  font-size: 1.5em;
}

.container .highlight {
  font-size: 1.2em;
  font-weight: 600;
  border-bottom: solid 3px goldenrod;
}

.container .buttons-menu {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container .buttons-menu .btn {
  background: lightcoral;
  border: solid 5px #333;
  color: #333;
  padding: 10px;
  margin: 10px;
  font-size: 2rem;
  width:100%;
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  font-weight: 600;
}

.container .buttons-menu .btn:hover {
  cursor: pointer;
  border-color: ghostwhite;
}

.container .buttons-menu .btn:nth-child(odd) {
  background-color: lightseagreen;
}

.suggestions {
  display: flex;
  flex-direction: column;
  padding: 5px;
  max-width: 700px;
}

.suggestions .card {
  border: 2px goldenrod solid;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  margin: 0.5em;
  padding: 0.5em;
}

.top-link{
  color:ghostwhite;
}

@media (min-width: 768px){
  .container .buttons-menu .btn{
    width:200px;
    height:200px;
  }
}